/* boutons du menu du haut pour la navigation */
	.navbar li {
	list-style-type: none ; 
	text-shadow: 1px 1px 0.5px ;/* Suppression des puces */				
}

	.navbar a  {
	display:block;                /* Transformation en block */
	min-width: 120px;             /* Largeur minimale des liens */     
	margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
	padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
	text-align: center;           /* Centrage du texte */   
	background-color: yellow;    /* Couleur d'arrière-plan */				          
	border: 1px solid #fff; 
	box-shadow: 5px 5px 5px black;					/* Ajout d'une bordure */
	border-radius: 4px;  /* Arrondis des bordures */
}			
														

	.navbar {
	display: flex;              /* Transformation en flexbox */
	padding:0;                  /* Suppression des marges internes */
	justify-content: center; 
					/* Alignements des liens dans le menu */
}


	.navbar a:hover { /* permet de modifier l'élement lorsqu'on passe avec le pointeur dessus*/
	background color: blue;
	color: white;
	border-color: #ffe843;
}
		
/* gestion de la mise en forme des liens attention c'est une structure à mettre dans cet ordre uniquement */
	a 	{	
			
	color: black ;
	text-shadow: 1px 1px # black;
	font-weight:bold; /* les liens en gras*/
	text-decoration:none;
}

	a:link {
	color: black;
	text-decoration:none;
}

/* lien à visiter */
	a:visited {
	color: green;
	text-decoration:none;
}

/* mise en forme avec le pointeur dessus */
	a:hover {
	color: black;
	text-decoration:none;
}
/* bouton clignotant qui indique le retour sur l'article*/
	
	.clignote {
	color: white;
	animation:  clignote 3s step-start infinite;
}

	@keyframes clignote {
								50% { color: yellow; }
}
													
													
	body { 
	background: -webkit-linear-gradient(90deg, #72463d,#b44d6d,#d863cc);/* Chrome 10-25, Safari 5.1-6 */                    
	background: linear-gradient(90deg, #72463d,#b44d6d,#d863cc);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             ;
	padding: 0; /*sans l'initialisation du padding et du margin du body, mes photos restaient collées !!! */
	margin: 0;
}


	h1,h2,h3 {
	display: inline-block;
	background: -webkit-linear-gradient(90deg, #72463d,#b44d6d,#d863cc);/* Chrome 10-25, Safari 5.1-6 */                    
	background: linear-gradient(90deg, #72463d,#b44d6d,#d863cc);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}



/* "class" */



	.texte_menu {
	font-family: Share-Techmono;
	font-family: myFirstFont;
	src: url(https://fonts.google.com/specimen/Share+Tech+Mono); /*police ramené de Google font avec le lien des codes css et html sur le site*/
	font-weight: bold;
	font-size: 1.5em;
}

	.share-tech-mono-regular, h1, h2, h3{
	font-family: "Share Tech Mono", monospace;
	background color: blue ;
	font-style: normal;
	line-height:1em ;
	text-align: center;
	color : white;
} /* pour définir la couleur, la police et l'intergligne + la couleur de fond des titre h1, h2 et h3*/
																	
	
			
	.zone_container_display_flex_fond_gris {	
    display: flex;
    flex-direction: row; /* row , colonne, column-reverse, row-reverse, */ 
    flex-wrap: wrap;
    justify-content: center; /* flex-end  flex-start center*/
    align-items: space-between; /* space-around , space-between center, flex-start */
	background color: red ;
}

	.zone_container_display_flex_fond_neutre {	
    display: flex;
    flex-direction: row; /* row , colonne, column-reverse, row-reverse, */ 
    flex-wrap: wrap;
    justify-content: center; /* flex-end  flex-start center*/
     /* space-around , space-between center, flex-start */
	
}


	#ordre_photo1_art1_page_haut {
	display :flex;
	 order: 1;
    /*flex: 0 0 auto;
    align-self: auto; */ 	
	margin:auto;
	
}


	#taille_photo1_julien {
 weight : 50%;
	
}

	#ordre_photo2_art1_page_haut {
	display :flex;
	 order: 0;
   /* flex: 0 0 auto;
    align-self: auto;*/
	margin:auto;
	
}

	#ordre_photo3_art1_page_haut {
	display :flex;
	order: 0;
   /* flex: 0 0 auto;
    align-self: auto;*/	
	margin:auto;
}



	.bande_menu {				
	background-image: silver;
}

	.titre_h1 {
	font-size: 3em ;
}

	.titre_h2 {
	font-size: 2.5em ; 
} 

	.titre_h3 {
	font-size: 2em ; 
}
								
	.parag_standard {
	line-height: 1.5em ;
	font-family: Targa MS; 
	font-size: 1.4em ;
	text-shadow: 0.02em 0.02em #333; /*possible d'ajouter une legere zone d'ombre pour faire un effet "gras" sur le texte*/
	padding: 1em 15em 1em;
	margin-top: 0;
	margin-bottom: 0; 
	color : white;
} 									
										
	.ombre_texte_nav {
	text-shadow: 1px 1px 2px grey;
}
										
										
										
	.centrage_video { /* pour la video youtube à centrer sur article 3 evenement nouveautés// 56.25% pour le 16/9 pour s'adapter aux écrans, le 16/9 c'est la taille standard des vidéos */
	margin-left:62em;
}
										
  /*
  width: 100%;
  padding-bottom: 56.25%; /* me pose un probleme, met de l'espace en bas de la video
  height: 0; */
}
/* .video_adapte iframe {
  position: absolute;
  top:0;
  buttom:0;
  left: 25em; /*pour centrer la video
  width: 50%;
  height: 50%;
  
}  */
							
  /* "id" */
  	#couleur_nav_mot1 {
	background-image: radial-gradient(circle at 50% -20.71%, #bafc6e 0, #a3f775 10%, #8bf17b 20%, #71e881 30%, #54de86 40%, #30d289 50%, #00c68b 60%, #00bb8e 70%, #00b190 80%, #00a993 90%, #00a297 100%);
}
  
  

	#auteur {
	display: inline-block;
	font-family: Share-Techmono ; 
	font-size: 1em;
	background-size 0,5em;
	color: blue;
	background: yellow;
	text-shadow: 0.3px 0.3px 0.3px ;  /*pour ajouter une ombre qui rend le texte "gras" */
	box-shadow: 2px 1px 1px silver; 
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold; /* police en gras*/
}
		
		
		.logo_site {
			  width: 2em;
    height: 2em;
	padding:0.5em 1em 1em;
	
			
			
		}
															
	#image1_index_art1_Inclu_Num {	   /* pour le bon ratio  en px vers em utiliser convertisseur 
								box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5)							en ligne https://nekocalc.com/fr/px-a-em-convertisseur suivant la résolution exacte de l'image d'origine,												ensuite faire la meme division pour la largeur et la heuteur */
    width: 30em;
    height: 20em;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	
}

	#image2_index_art1_Inclu_Num {	
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);	
    width: 29.9845em;
    height: 20.0155em;
}


	#image3_index_art1_Inclu_Num{	
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5)	;
    width: 24em;
    height: 32.28125em;
}
	#image4_art1_index_Inclu_Num_milieu {
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); /*ombre photo*/
    width: 30em;
    height:20em;
	float: left;
  margin-right:1em;

  /*photo collé ou non au texte*/ 

}

	#image_art2_Profil_Atyp_haut {
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); /*ombre photo*/
    width: 40.8em;
    height: 30.6em;
	float: center;
 /*  margin-right:1em; 
  border-radius:60%;
  border:0.2em solid white;  si je souhaite faire une photo arrondie avec des bords blancs*/ 
  /*photo collé ou non au texte*/ 
}


	#image2_art2_Profil_Atyp_milieu {
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); /*ombre photo*/
    width: 30em;
    height: 19.875em;
	float: left;
	margin-right:1em; /*photo collé ou non au texte*/ 
}



	#image_art3_Even_Nouv_haut {
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); /*ombre photo*/
    width: 46em;
    height:32.02 em;
	float: let;
	margin-right:1em; /*photo collé ou non au texte*/ 
}


	#image_art3_Even_Nouv_milieu {
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); /*ombre photo*/
    width: 47em;
    height:32.124 em;
	float: center;
	margin-right:1em; /*photo collé ou non au texte*/ 
}

	#parag_intro {
	line-height : 1.2em;
	font-family: Montserrat, sans-serif; 
	font-size: 1.4em ;
	padding: 1em 15em 1em;
	margin-top: 0;
	margin-bottom: 0; 
}
											
											
	.parag_droite {
	text-align:center;
	line-height: 1.5em ;
	font-family: Targa MS; 
	font-size: 1.4em ;
	text-shadow: 0.02em 0.02em #333; /*possible d'ajouter une legere zone d'ombre pour faire un effet "gras" sur le texte*/
	padding: 1em 15em 1em;
	margin-top: 0;
	margin-bottom: 0; 
}
														

	#parag_concl {
	line-height : 1.2em;
	font-family: font-family: Targa MS; 
	font-size: 1.4em ;
	padding: 1em 15em 1em;
	margin-top: 0;
	margin-bottom: 0; 
	text-shadow: 0.02em 0.02em #333;
}	
															
															
	.liste_style_puce{
	line-height : 1.5em;3------------------
	font-family: Targa MS; 
	font-size: 1.4em ;
	text-shadow: 0.02em 0.02em #333; /*possible d'ajouter une legere zone d'ombre pour faire un effet "gras" sur le texte*/
	padding: 1em 20em 1em;
	margin-top: 0;
	margin-bottom: 0; 
}
	
	.liste_style_puce2{
	line-height : 1.5em;
	font-family: Targa MS; 
	font-size: 1.4em ;
	text-shadow: 0.02em 0.02em #333; /*possible d'ajouter une legere zone d'ombre pour faire un effet "gras" sur le texte*/
	padding: 1em 20em 1em;
	margin-top: 0;
	margin-bottom: 0; 
	margin-left: 18em; 
	
}	
						
						
	.liste_style_chiffres{
	line-height : 1.5em;
	font-family: Targa MS; 
	font-size: 1.4em ;
	text-shadow: 0.02em 0.02em #333; /*possible d'ajouter une legere zone d'ombre pour faire un effet "gras" sur le texte*/
	padding: 1em 20em 1em;
	margin-top: 0;
	margin-bottom: 0; 
	margin-left: 30em; 
	
}

	#centrage_Julien_Barbereau{
	text-align: center;
}

	#contact {
	display: inline-block;
	font-family: Share-Techmono ; 
	font-size: 1.2em;
	background-size 0.5em ;
	color: blue;
	background: yellow;
	text-shadow: 1px 1px 0.5px ;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold; /* police en gras*/
}	
	 
	#parag_aside { 
	line-height : 1.2em;
	font-family: font-family: Targa MS;  
	font-size: 1.4em ;
	color:green;
	padding: 1em 15em 1em;
	margin-top: 0;
	margin-bottom: 0; 
	text-shadow: 0.02em 0.02em #333; 
} 	
   
	#centre_lien_retour_article {
	display: inline-block;
	color:#BD0206;
	font-size: 2em ;
	background-color: black;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
  
	.tableau_ressources {
	border-collapse: collapse ; /*pour coller les lignes du tableau, fusion des bordures identiques*/
	min-width: 400px; /* largeur minimale*/ 
	width: auto; /* adapte la largeur de la colonne à la longeur du texte*/
	box-shadow: 2px 5px 10px black ; /*ombre autour du cadre */
	border: 2px solid blue; /*cadre noir trait discret*/
	margin-left: auto; /*centrage tableau*/
	margin-right: auto;
	margin-right: auto; 
}

	thead tr {    /* entête du tableau*/
	background-color: BD0206; /*couleur de fond de l'entête*/
	color: #FFF; /*couleur texte en blanc pour contraster du rouge */
	text-align: center;
}

	th, td {
	padding: 15px 20px;
}

	tbody tr, td, th {
	border: 1px solid black; /*trait du tableau épaisseur 1px, trait plein en gris*/
}

	tbody tr:nth-child(even) { /* pour rendre les lignes 1 sur 2 en gris*/
	background-color: #abbdff;
}
							
/* pour info et pour plus tard transform permet de bouger des élements en x et y mais aussi en rotation*/
